.DS_Store
/node_modules
/packages/*/node_modules
/packages/*/LICENSE
*.log
*.cache
/build
/.eslintcache
coverage
dist
/.package.json
package-lock.json

.nyc_output
/packages/*/lib
/packages/*/dist
.idea/
/.changelog
