@import "../common/dialog/index.scss";

.dialog-form-wrapper .ant-modal-confirm-btns,
.dialog-form-wrapper .ant-confirm-btns {
    display: none;       
}

.dialog-form-wrapper .noform-dialog-custom-btns {
    float: right;
}


.dialog-form-wrapper {
    .ant-custom-btns.noform-dialog-btns-align-left { 
        float: left;
        text-align: left;
    }
    
    .ant-custom-btns.noform-dialog-btns-align-right { 
        float: right;
        text-align: right;
    }
}

.dialog-polifill-cancel {
    float: right;
    cursor: pointer;
}