.next-checkbox-group {
    display: inline-block;
    width: 400px;
    line-height: 28px;
    white-space: nowrap;
}

.next-radio-wrapper .next-radio-label,
.next-checkbox-wrapper .next-checkbox-label {
    line-height: 28px;
    font-size: 14px;
}

.next-radio-group {
    display: inline-block;
    width: 400px;
    line-height: 28px;
    white-space: nowrap;
}

.multi-value-item {
    white-space: nowrap;
    margin-right: 8px;
}

.next-range {
    white-space: nowrap;
    width: 300px;
}


.no-form-item-inset {
    .next-select,
    .next-input,
    .next-range-picker-trigger,
    .next-input:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .next-radio-group,
    .next-checkbox-group,
    .next-number-picker-input {
        width: auto;
    }

    .next-date-picker {
        width: 100%;
    }
}

.no-form-hoz .no-form-item .no-form-item-content .no-form-item-content-elem > .next-switch {
    min-width: 44px;
    width: auto;
}

// .no-form-item-content-elem > .next-range,
.no-form-item-content-elem > .next-switch{
    min-width: 44px;
    width: auto;
    line-height: 28px;
    height: 28px;
}

.no-form-item-content-elem > .next-upload {
    .next-upload-list-item {
        width: 100%;
    }
}

.no-form-item-content-elem > label {
    line-height: 28px;
}

.next-upload {
    min-width: 224px;
}

.next-rating {
    line-height: 28px;
}

.next-preview-upload {
    .next-upload-inner,
    br,
    .next-upload-list .next-icon,
    .next-upload-select {
        display: none;
    }
}

.next-range {
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
}

.is-preview {
    .next-input.next-disabled:hover {
        border-color: unset;
        background-color: unset;
    }

    .next-range.disabled,
    .next-rating-base-disabled {
        cursor: text;
        line-height: 28px;
        display: inline-block;
        vertical-align: middle;
    }

    .next-preview-select-auto-complete,
    .next-preview-select.next-select {
        vertical-align: top;
        display: inline-flex;
        border: none;
        background: transparent;
        cursor: text;
        padding: 0;

        span[aria-hidden="true"] {
            display: none;
        }

        .next-input.next-disabled,
        .next-input.next-disabled:hover {
            border: none;
            background: transparent;

            input:hover {
                border: none;
                background: transparent;
            }
        }

        [aria-autocomplete="list"],
        .next-select-inner {
            color: #000;
            padding: 0;
            font-size: 14px;
            border: none;
            background: transparent;
            cursor: text;
            border: none;

            .next-input-text-field {
                padding: 0;
                font-size: 14px;
                line-height: 28px;
            }

            em {
                color: #000;
            }
        }
        .next-icon { display: none; }
    }
}

.next-preview-datepicker { // 预览态    
    .next-input.next-disabled {
        background: transparent;        
        border: none;

        input:disabled {
            padding: 0;
            font-size: 14px;
            background: transparent;
            border: none;
            color: #000;
            cursor: text;
            vertical-align: top;
        }
    }

    .next-icon { display: none; }
}

.next-preview-select {
    .next-select-placeholder {
        display: none;
    }
}

.no-form-item-has-error > .no-form-item-control > .no-form-item-content > .no-form-item-content-elem {
    > .next-select .next-input,
    > .next-input-group .next-input-group-text,
    > .next-input-group .next-input,
    > .next-input {
        border-color: red;
    }
}