.next-checkbox-group {
    display: inline-block;
    width: 400px;
    line-height: 28px;
    white-space: nowrap;
}

.next-radio-group {
    display: inline-block;
    width: 400px;
    line-height: 28px;
    white-space: nowrap;
}

.multi-value-item {
    white-space: nowrap;
}

.next-range {
    white-space: nowrap;
    width: 300px;
}


.no-form-item-inset {
    .next-select,
    .next-input,
    .next-input:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .next-radio-group,
    .next-checkbox-group,
    .next-number-picker-input {
        width: auto;
    }
}

.no-form-hoz .no-form-item .no-form-item-content .no-form-item-content-elem > .next-switch {
    min-width: 44px;
    width: auto;
}

.no-form-item-content-elem > .next-range,
.no-form-item-content-elem > .next-switch{
    min-width: 44px;
    width: auto;
    line-height: 28px;
    height: 28px;
}

.no-form-item-content-elem > .next-upload {
    .next-upload-list-item {
        width: 100%;
    }
}

.no-form-item-content-elem > label {
    line-height: 28px;
}

.next-upload {
    min-width: 224px;
}

.next-rating {
    line-height: 28px;
}

.next-preview-upload {
    .next-upload-select {
        display: none;
    }
}

.next-preview-select.next-select {
    display: inline-flex;
    border: none;
    background: transparent;
    cursor: text;
    padding: 0;

    .next-select-inner {
        color: #000;
        padding: 0;
    }
    .next-icon { display: none; }
}

.next-preview-datepicker { // 预览态    
    .next-input.disabled {
        background: transparent;
        border: none;

        input:disabled {
            background: transparent;
            border: none;
            color: #000;
            cursor: text;
        }
    }

    .next-icon { display: none; }
}

.next-preview-select {
    .next-select-placeholder {
        display: none;
    }
}