.dialog-form-wrapper .ant-confirm-btns,
.dialog-form-wrapper .ant-modal-confirm-btns {
  display: none; }

.dialog-form-wrapper .ant-custom-btns {
  margin-top: 24px; }

.dialog-form-wrapper .ant-custom-btns.noform-dialog-btns-align-left {
  float: left; }

.dialog-form-wrapper .ant-custom-btns.noform-dialog-btns-align-right {
  float: right; }
