.dialog-form-wrapper .ant-confirm-btns {
  display: none; }

.dialog-form-wrapper .ant-custom-btns {
  margin-top: 24px;
  text-align: right; }

.noform-dialog-btns-align-left {
  text-align: left; }

.noform-dialog-btns-align-right {
  text-align: right; }
