.accordion{
    &-step{
        &-edit {
            float: right;
            height: 30px;
            font-size: 12px;
            margin-right: 16px;
            &:after{
                content: ' ';
                display: inline-block;
                width: 1px;
                height: 100%;
                vertical-align: bottom;
            }
        }
        &-item {
            margin-top: 20px;
            &:last-child .accordion-step-content:before {
                display: none;
            }
            &:after{
                display: table;
                content: ' ';
                clear: both;
            }
        }
        &-num{
            width: 28px;
            height: 28px;
            color: #fff;
            line-height: 28px;
            text-align: center;
            background-color: #dae2ed;
            border-radius: 15px;
            .is-active & {
                background-color: #ff7519;
            }
        }
        &-label{
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
        }
        &-children{
            padding: 20px 32px 32px 0;
            background-color: #FFF;
            border: 1px solid #e9eef5;
        }
        &-num, &-content {
            float: left
        }
        &-content{
            position: relative;
            width: 100%;
            padding-left: 40px;
            margin-left: -28px;
            .is-active &:before {
                background-color: #ff7519;
            }
            &:before{
                content: '';
                position: absolute;
                top: 28px;
                bottom: -20px;
                left: 15px;
                width: 1px;
                background-color: #DAE2ED;
                &.is-active {
                    background-color: #ff7519;
                }
            }
        }
    }
}
.no-form-accordion-next{
    margin-top: 20px;
}
