.dialog-form-wrapper {
    .noform-dialog-custom-btns {
        margin-top: 12px;
    }

    .noform-dialog-custom-btns.align-left {
        float: none;
        text-align: left;
    }

    .noform-dialog-custom-btns.align-right {
        float: none;
        text-align: right;
    }

    .noform-dialog-custom-btns.align-center {
        float: none;
        text-align: center;
    }
}