.table-repeater-row {
    display: table-row;
}

.table-repeater-wrapper  {
    margin-bottom: 12px;

    .next-table-header-node {
        width: 200px;
    }

    tr, td {
        box-sizing: border-box;
        padding: 0;
    }

    .repeater-search {
        width: 200px;
        margin-bottom: 8px;
    }
}

.repeater-action-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #1890ff;
    outline: none;
}

