.table-repeater-row {
    display: table-row;
}

.table-repeater-wrapper {
    margin-bottom: 12px;

    .repeater-table-header-node {
        min-width: 100px;
    }

    .repeater-table-cell-wrapper-left {
        text-align: left;
    }

    .repeater-table-cell-wrapper-center {
        text-align: center;
    }

    .repeater-table-cell-wrapper-right {
        text-align: right;
    }

    table {
        border-collapse: separate;
        border-spacing: 4px;
    }

    tr, td {
        box-sizing: border-box;
        padding: 0;
        vertical-align: top;
    }

    .repeater-search {
        width: 200px;
        margin-bottom: 8px;
    }
}

.repeater-action-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #1890ff;
    outline: none;
}

