@import "~nowrapper/lib/next/index.scss";
@import '../index.scss';

.next-table-body {
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}

.next-table th {
    background: #f8f8f8;
}

.no-form-item-inset {
    .next-input {
        input {
            height: 28px;
        }
    }
}